[Desktop Entry]
Name=ToRemote
GenericName=Remote Desktop
Comment=Remote Desktop
Exec=toremote %u
Icon=toremote
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;linux;dart;rust;remote-control;p2p;remote-desktop;
Actions=new-window;
StartupWMClass=toremote

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=toremote %u
