[Desktop Entry]
Name=ToRemote
NoDisplay=true
MimeType=x-scheme-handler/toremote;
TryExec=toremote
Exec=toremote %u
Icon=toremote
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=toremote
